<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link {{#if index}} active {{/if}}" aria-current="page" href="/">Premier League</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if une}} active {{/if}}" aria-current="page" href="../une-autre-page">Equipe Nationales</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if et}} active {{/if}}" aria-current="page" href="../et-de-trois">Ligue 1</a>
        </li>

         <li class="nav-item">
          <a class="nav-link {{#if quatrieme-page}} active {{/if}}" aria-current="page" href="../quatrieme-page">Laliga</a>
        </li>
      

       <li class="nav-item">
          <a class="nav-link {{#if cinquieme-page}} active {{/if}}" aria-current="page" href="../cinquieme-page">Serie A</a>
        </li>

         <li class="nav-item">
          <a class="nav-link {{#if bundesliga}} active {{/if}}" aria-current="page" href="../bundesliga">Bundesliga</a>
        </li>
      
    </div>
  </div>
</nav>










