                
 
    <div class="container">
        <div class="col">
            <div class="row">

               <!-- <input type="text" id="container3"> -->

               <select name="team" id="select-team" onchange="myFunction()">
                <option>Choisir une équipe...</option>
               
                </select>

                <p id="team-id"></p>
              
               <select name="player" id="select-player">
                <option>Choisir un joueur...</option>

               
               </select>

               
              <button id="btn"><i class="fa-solid fa-magnifying-glass"></i>RECHERCHER</button>
            </div>
        </div>
    </div>

    <div class="container2">

    <div class="card" style="width: 18rem;">
        
        <div class="card-body" id="cards">
            <div id="photo"></div>


           
           <img id="img" src="" alt="">
           <img id="logo" src="" alt="">
           

            <div id ="name"><strong>Nom:</strong></div>
            <div id="namme"></div>
            <div id ="name"><strong>Âge:</strong></div>
            <div id="age"></div>
            <div id ="name"><strong>Nationalité:</strong></div>
            <div id="nationality"></div>
            <div id ="name"><strong>Club:</strong></div>
            <div id="club"></div>
            <div id ="name"><strong>Poids:</strong></div>
            <div id="weight"></div>
            <div id ="name"><strong>Taille:</strong></div>
            <div id="height"></div>
            
            <!-- <div id="img">...</div> -->
            
      
          
        </div>
      </div>
    </div>